<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/switch.css">
  <link rel="stylesheet" href="/assets/css/website.css">
  <link rel="stylesheet" href="/assets/css/app-embed.css">
  <style>
    .page-wrapper {
      display: flex;
      height: 100vh;
      overflow: hidden;
    }
    
    main {
      width: 100%;
      overflow-y: scroll;
    }
    
    blockquote {
      padding: .5em .75em;
      border-radius: .25em;
      margin-left: 0;
      box-sizing: border-box;
    }
    blockquote p {
      margin: 0;
    }

    /* .blockquote-danger {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
    .blockquote-info {
      color: #0c5460;
      background-color: #d1ecf1;
      border-color: #bee5eb;
    } */


    .content {
      margin: 2em;
      line-height: 1.4;
    }
    .content p,
    .content li,
    .content blockquote,
    .content pre,
    .content table,
    .content h1,
    .content h2,
    .content h3  {
      max-width: 760px;
    }

    .content pre {
      margin: 0;
      padding: .25em;
    }

    table td, table th {
      padding: 1em;
      border-bottom: 1px solid #eee;
    }

    aside {
      display: flex;
      flex-direction: column;
      height: 100vh;
      color: #555;
      border-right: 1px solid #eee;
      padding: .5em;
      box-sizing: border-box;
    }

    .toc {
      flex-grow: 1;
      overflow-y: scroll;
    }

    .theme-switch-wrapper {
      justify-content: center;
      padding: .75em;
      margin: .5em 0;
      border-radius: .25em;
    }
    .theme-switch {
      margin: 0 1em;
    }

    a {
      text-decoration: none;
      color: #8E2F5C;
    }

    a:hover {
      color: #6A123C;
    }

    /* Colors */
    .theme-switch-wrapper {
      background: var(--switcher-bg-color);
    }
    .content pre {
      background: var(--code-bg-color);
    }
  </style>
</head>
<body>

  <div class="page-wrapper">
    <aside>
      <div class="toc">
        {{#each toc}}
        <div>
          {{#if isHeadline}}
          <h3>{{title}}</h3>
          {{else}}
            {{#if isHome}}
            <a href="/">{{title}}</a>
            {{else}}
            <a href="/{{href}}">{{title}}</a>
            {{/if}}
          {{/if}}
        </div>
        {{/each}}
      </div>

      <div class="theme-switch-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
      </div>

    </aside>

    <main>
      <div class="content">
        {{{ body }}}
      </div>
    </main>
  </div>

  <script src="/assets/js/scoped.min.js"></script>
  <script src="/assets/js/switch.js"></script>
  <script src="/assets/js/app-embed.js"></script>
</body>
</html>